.ancilliary-services-1 {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    width: 90%;
   /* align-content: center;
    */
    padding-top: 10px;
    font-weight: 600;
    font-size: x-large;
}
.ancilliary-services-2 {
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: -webkit-fill-available;
    border: 1px solid;
    flex-direction: column;
}
.ancilliary-services-2-1 {
    display: flex;
    flex-grow: 0.4;
    padding-top: 20px;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.ancilliary-services-2-1-1 {
    display: flex;
}
.ancilliary-services-2-2-1 {
    display: flex;
}
.ancilliary-services-2-3-1 {
    display: flex;
}
.ancilliary-services-2-2 {
    display: flex;
    flex-grow: 0.4;
    padding-top: 20px;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.ancilliary-services-2-3 {
    display: flex;
    flex-grow: 0.4;
    padding-top: 20px;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
   /* border-top: 1px solid rgba(0,0,0,.1);
    */
    width: 1;
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;
}
.summary {
    padding-right: 20px;
}
.p-1-2 {
    color: red;
}
