.card {
    max-width: 345;
  }
  .media {
    height: 140,
  }
  .title {
      text-align: left
  }
  .text {
    text-align: left   
  }
.image {
  float: left;
  width: 20%;
}
.text-1 {
  padding-left: 25%;
    padding-top: 2%;
    margin-bottom: auto;
    padding-bottom: 0.001%
}
.abs {
  position: absolute;
}
.bdr-btm-grey {
  border-bottom: 2px solid #9c9c9c;
}
.pr {
  position: relative;
}
  .card-wrapper{
    padding-top: 25px;
  }
  .small-text{
padding-left: 25%;
  }
  .hr {
    margin-bottom: 0.5%;
  }
  .cardaction{
    padding-top: initial;
  }
  .duration-stop {
    margin: 0 11%;
    padding-bottom: 0.55em;
    border-bottom: 2px solid #cacaca;
}
.stop-circle {
  display: flex;
  justify-content: center;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  bottom: -5px;
}
.from .text-1 {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 20%;
} 
.from{
flex: 0 0 25%;
flex-grow: 0;
flex-shrink: 0;
flex-basis: 25%;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.horizontal-line {
background-color:gray;
width: 110px;
height: 2px;
display: inline-block;
margin: 0px;
margin-top: 2.2%;
margin-right: 1.5%;
margin-left: initial;
}
.To .text-1  {
  display: flex;
  padding-left: 0%;
  padding-top: 0.3%;
}

.from {
  flex: 0 0 25%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}
.from .text-1 {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 20%;
}
@media screen and (min-width: 240px) and (max-width: 500px) {
  .from .text-1 {
    padding: 0;
    margin: 0;
 }
}
.card {
  max-width: 345;
}
.media {
  height: 140;
}
.text {
  text-align: left;
}
.text.To {
  display: flex;
  justify-content: space-between;
}
.totalduration {
  display: flex;
  justify-content: center;
  margin-left: 280px;
}
.image {
  float: left;
  width: 20%;
}
@media screen and (min-width: 240px) and (max-width: 500px) {
  .image {
    width: 38%;
    margin-right: 10px;
 }
}
.text-1 {
  padding-left: 25%;
  padding-top: 2%;
  margin-bottom: auto;
  padding-bottom: 0.001%;
}
@media screen and (min-width: 240px) and (max-width: 500px) {
  .text-1 {
    padding: 0;
    margin: 0;
 }
}
.abs {
  position: absolute;
}
.bdr-btm-grey {
  border-bottom: 2px solid #9c9c9c;
}
.pr {
  position: relative;
}
.card-wrapper {
  padding-top: 25px;
}
.small-text {
  padding-left: 25%;
}
@media screen and (min-width: 240px) and (max-width: 500px) {
  .small-text {
    padding: 0;
 }
}
.hr {
  margin-bottom: 0.5%;
}
.cardaction {
  padding-top: initial;
}
.duration-stop {
  margin: 0 11%;
  padding-bottom: 0.55em;
  border-bottom: 2px solid #cacaca;
}
.stop-circle {
  display: flex;
  justify-content: center;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  bottom: -5px;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.horizontal-line {
  background-color: grey;
  width: 110px;
  height: 2px;
  display: inline-block;
  margin: 0px;
  margin-top: 2.2%;
  margin-right: 1.5%;
  margin-left: initial;
}
.To .text-1 {
  display: flex;
  padding-left: 0%;
  padding-top: 0.3%;
}
